__pycache__/AnalyticalGradients.cpython-311.pyc
__pycache__/ApproximateGradients.cpython-311.pyc
__pycache__/Functionals.cpython-311.pyc
__pycache__/OptimizationAlgorithms.cpython-311.pyc
__pycache__/Tools.cpython-311.pyc
